/* 
    General Styles
*/
@import "~bootstrap/scss/bootstrap";
.gameimg{
    width: 50em;
    height: 30em;
}
.scroller{
    overflow-x: scroll;
	overflow-y: hidden;
    display: flex;
    background-image: gray;
}
.card{
    width: 18rem;
    height: 10rem;
    flex: 0 0 auto;
}
body{
    background-color: rgb(112, 112, 112);
    color: white;
    max-width: 100%;
    max-height: 100%;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(70, 68, 68);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(34, 34, 34); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0); 
}
.detailsImage{
    width: 50%;
    height: 50%;
}
.detail{
    text-align: center;
}
// game card image resize for landing
.card-img {
    border-radius: 10px;
}

// profile page
.container-profile {
    max-width: 1600px;
    background: rgb(117, 114, 114);
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
}

.card-profile {
    width: 600px;
    border: 1px solid white;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  -40px 40px 80px #5f5f5f,
             40px -40px 80px #818181;
}

.card-body {
    background-color: rgb(75, 75, 75);
}

.user-name {
    font-size: 25px;
}

.topcol {
    margin-top: 37px;
}
footer {
    position: relative;
    width: 100%;

}
img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.w-100 {
  width: 100% !important;
  height: 75vh;
}
.store {
    width: 10rem;
    height: 10rem;
}
.achivement {
    width: 5rem;
    height: 5rem;
}
.website {
    font-size: 5rem;
    margin-left: 1rem;
    color: lightgray
}
.btn-group{
    white-space: normal;
}