/* 
    General Styles
*/
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

h1{
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
}
.link{
    color: rgb(78, 90, 255);
    &:hover{
        color: rgb(50, 57, 158);
    }
}
h3{
    font-size: 1.1rem;
    font-family: 'Oswald', sans-serif;
}
h4{
    font-size: 1rem;
}
h5{
    font-size: 1rem;
}
.game-card-title{
    font-family: 'Oswald', sans-serif;
}
.loading-screen{
    width: 50%;
    height: 20rem;
}
.scroller{
    display: flex;
    width: 100%;
    overflow: visible;
}
.background-full{
    background: radial-gradient(circle, rgb(174, 238, 205) 0%, rgb(148, 187, 233) 100%);
    padding-bottom: 3rem;
}
.cover{
    width: 100%;
    height: 100%
}
.card{
    width: 100%;
    height: 7rem;
    flex: 0 0 auto;
    margin-top: 1rem;
}
//centering
.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
//make divs fit content
.fit{
    height: fit-content;
}
//space in between landing page
.spacing{
    margin-top: 14rem;
}
//space before footer
.space{
    margin-bottom: 5rem;
}

// navbar

.navbar{
    background-color: none;
}
#navCard{
    max-width: 75%;
    max-height: 10rem;
}
.search-bar{
    display: none;
}
.fa-times{
    cursor: pointer;
}
#card{
    color: #e2e2e2;
    transition: color 300ms ease-in-out;
    overflow: hidden;
    &:hover {
        color: rgb(153, 255, 179);
        
    }
}
#hover-logo{
    color: black;
    transition: color 300ms ease-in-out;

    &:hover {
        color: white;
        //color: rgb(255, 184, 4);
    }
}

#hover{
    color: black;
    transition: color 300ms ease-in-out;

    &:hover {
        color: rgb(153, 255, 179);
    }
}
.transform{
    &:hover{
        transform: scale(1.05);
    }
}
/* Carousel  */

.carousel-heading{
    margin-bottom: -10px;
    color: whitesmoke;
    transition: color 300ms ease-in-out;

    &:hover {
        color: rgb(153, 255, 179);
    }
}

// .carousel-image{
//     box-shadow: 0px 3px 10px rgba(0,0,0,0.15);

// }

//buttons
#toggletags{
    font-family: 'Oswald', sans-serif;
    background: white;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(180deg, rgba(89,123,255,1) 0%, rgba(122,255,180,1) 100%);
    color: rgb(58, 66, 141);
    width: 100%;
    margin: 1rem 0;
    box-shadow: 5px 5px 5px grey !important;
    &:hover {
        background: rgb(122,255,180);
        background: linear-gradient(277deg, rgb(68, 163, 109) 0%, rgb(77, 60, 168) 100%);
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        color: white;
        border: hidden;
        padding: 0.7rem 1rem 0.7rem 1rem;
    }
    &:focus{
        background: rgb(122,255,180);
        background: linear-gradient(277deg, rgb(68, 163, 109) 0%, rgb(77, 60, 168) 100%);
        color: white;
        border: hidden;
        padding: 0.7rem 1rem 0.7rem 1rem;
    }
    &:active{
        background: rgb(122,255,180);
        background: linear-gradient(277deg, rgb(68, 163, 109) 0%, rgb(77, 60, 168) 100%);
        color: white;
        border: hidden;
        padding: 0.7rem 1rem 0.7rem 1rem;
    }
}
#viewmore{
    background: rgb(0,85,37);
    background: radial-gradient(circle, rgba(0,85,37,1) 0%, rgba(0,13,93,1) 100%);
    border-color: transparent !important;
    color: white ;
    box-shadow: 5px 5px 5px grey !important;
    &:hover {
        background: rgb(37,255,132);
        background: radial-gradient(circle, rgba(37,255,132,1) 0%, rgba(60,88,255,1) 100%);
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        color: rgb(82, 94, 252)
    }
    &:focus{
        box-shadow: 5px 10px 18px #888888 !important;
    }
    &:active{
        box-shadow: 5px 10px 18px #888888 !important;
    }
}
#ascendingbtn{
    background: white;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(90deg, rgba(150,255,201,1) 0%, rgba(170,225,255,1) 100%);
    box-shadow: 5px 5px 5px grey !important;
    color: rgb(58, 66, 141);
    &:hover {
        color: white;
        background: rgb(170,225,255);
        background: linear-gradient(90deg, rgb(83, 121, 141) 0%, rgb(89, 153, 120)100%);
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        border: hidden;
        padding: 0.7rem 1rem 0.7rem 1rem;
    }
    &:focus{
        color: white;
        background: rgb(170,225,255);
        background: linear-gradient(90deg, rgb(83, 121, 141) 0%, rgb(89, 153, 120)100%);
        border: hidden;
        padding: 0.7rem 1rem 0.7rem 1rem;
    }
    &:active{
        color: white;
        background: rgb(170,225,255);
        background: linear-gradient(90deg, rgb(83, 121, 141) 0%, rgb(89, 153, 120)100%);
        border: hidden;
        padding: 0.7rem 1rem 0.7rem 1rem;
    }
}
.btn-fontsize{
    font-size: 1rem;
}
.btn-font{
    font-family: 'Oswald', sans-serif;
}
.dropdown button{
    width: 100%;
}
.btn-dark{
    color: rgb(58, 66, 141);
    background-color: rgb(106,255,179);
    background: radial-gradient(circle, rgb(150, 247, 197) 0%, rgb(157, 201, 255) 100%);
    border-color: transparent !important;
    box-shadow: 5px 5px 5px grey !important;
    &:hover{
        background-color: rgb(92,235,161);
        background: radial-gradient(circle, rgba(92,235,161,1) 0%, rgba(16,53,97,1) 100%);
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    &:focus{
        background-color: rgb(92,235,161);
        background: radial-gradient(circle, rgba(92,235,161,1) 0%, rgba(16,53,97,1) 100%);
    }
    &:active{
        background-color: rgb(92,235,161);
        background: radial-gradient(circle, rgba(92,235,161,1) 0%, rgba(16,53,97,1) 100%);
    }

}
.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active, .show > .btn-dark.dropdown-toggle {
    color: white;
    background-color: rgb(92,235,161);
        background: radial-gradient(circle, rgba(92,235,161,1) 0%, rgba(16,53,97,1) 100%);
}
.btn-success{
    color: rgb(58, 66, 141);
    font-family: 'Oswald', sans-serif;
    background: white;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: radial-gradient(circle, rgb(150, 247, 197) 0%, rgb(157, 201, 255) 100%);
    box-shadow: 5px 5px 5px grey !important;
    font-size: 1rem;
    &:hover{
        background-color: rgb(92,235,161);
        background: radial-gradient(circle, rgba(92,235,161,1) 0%, rgba(16,53,97,1) 100%);
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        border: hidden;
        padding: 0.7rem 1rem 0.7rem 1rem;
    }
    &:focus{
        background-color: rgb(92,235,161);
        background: radial-gradient(circle, rgba(92,235,161,1) 0%, rgba(16,53,97,1) 100%);
        border: hidden;
        padding: 0.7rem 1rem 0.7rem 1rem;
    }
    &:active{
        background-color: rgb(92,235,161);
        background: radial-gradient(circle, rgba(92,235,161,1) 0%, rgba(16,53,97,1) 100%);
        border: hidden;
        padding: 0.7rem 1rem 0.7rem 1rem;
    }
}
.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: rgb(92,235,161);
    background: radial-gradient(circle, rgba(92,235,161,1) 0%, rgba(16,53,97,1) 100%);
    border: hidden;
    padding: 0.7rem 1rem 0.7rem 1rem;
}
.btn-danger{
    color: rgb(58, 66, 141);
    width: 100%;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Bebas Neue', cursive;
    background: white;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    box-shadow: 5px 5px 5px grey !important;
    &:hover{
        background: linear-gradient(90deg, rgba(85,40,116,1) 0%, rgba(159,32,32,1) 50%, rgba(130,91,37,1) 100%);
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        border: hidden;
        padding: 0.7rem 1rem 0.7rem 1rem;
    }
    &:focus{
        background: linear-gradient(90deg, rgba(85,40,116,1) 0%, rgba(159,32,32,1) 50%, rgba(130,91,37,1) 100%);
        border: hidden;
        padding: 0.7rem 1rem 0.7rem 1rem;
    }
    &:active{
        background: linear-gradient(90deg, rgba(85,40,116,1) 0%, rgba(159,32,32,1) 50%, rgba(130,91,37,1) 100%);
        border: hidden;
        padding: 0.7rem 1rem 0.7rem 1rem;
    }
}
//h2 
h2{
    letter-spacing: 1px;
    font-size: 2.1875rem;
    font-weight: 600;
    font-family: 'Bebas Neue', cursive;
      background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
      background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px #333);
  
}
.login-modal{
    font-size: 1.2rem;
    margin: 1rem; 
}
//banner
#banner-font{
    margin-bottom: 0;
    margin-top: 0.3125rem;
}

// body

body{
    background: radial-gradient(circle, rgba(174,238,205,1) 0%, rgba(148,187,233,1) 100%);
    color: black;
    max-width: 100%;
    max-height: 100%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: auto;
    font-family: 'Noto Sans JP', sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);


}
.detailsImage{
    max-width: 50%;
    max-height: 50%;
}
.detail{
    text-align: center;
}
// profile page

.topcol {
    margin-top: 37px;
}
footer {
    position: relative;
    max-width: 100%;
}
img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    background: transparent url(https://cutewallpaper.org/21/loading-gif-transparent-background/Update-throbber-icon-in-Seven-theme-2775725-Drupalorg.gif) no-repeat scroll center center;
}
.achievement-img {
    max-width: 5rem;
    max-height: 5rem;
}
.website {
    font-size: 2rem;
    margin-left: 1rem;
    color: lightgray;
}
.btn-group{
    white-space: normal;
}
//tags

#tags{
    width: 100%;
    height: 30rem;
}
#tagsContent{
    overflow-x: hidden;
    overflow-y: auto;
}
//header
.header {
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
font-family: 'Fira Sans', sans-serif;
}
.row{
    margin-left: auto;
    margin-right: auto;
}
.content{
    margin-top: 3rem
}

//detailsPage
#details-games{
    overflow: auto;
    width: 90%;
    max-height: 15rem;
}
.details-image {
    height: 100%;
    width: 100%;
}
.details-title{
    margin: 1.5rem 0px;
}
.details-description{
    line-height: 1.8rem;
    font-size: 11px;
}
#details-games-row{
    overflow: auto;
    width: 90%;
    max-height: 15rem;
}
.details-navpills{
    font-size: 1rem;
}
.detailsborders{
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    box-shadow: 5px 5px 5px grey !important;
}
.detailsbox{
    font-family: 'Cabin', sans-serif;
    background-color: #fbfbfbf2;
    height: 3rem;
    width: fit-content;
    padding: 1em;
    padding-bottom: 2em
    
}
.detailsbackground{
    font-family: 'Cabin', sans-serif;
    background: linear-gradient(90deg, rgba(132,255,146,1) 0%, rgba(72,97,255,1) 100%);
    height: fit-content;
    width: fit-content;
    padding: 0.1em;
    box-shadow: 5px 5px 5px grey !important;
}
.detailsNumbers{
    font-size: 2rem;
    border-radius: 50%;
}
.details-space{
    margin-top: 2rem
}
#details-card{
    width: 90%;
    height: 10rem;
}
.store {
    width: 10rem;
    height: 10rem;
    margin: 1rem;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    display: block;
    -webkit-text-fill-color: rgb(59, 41, 163)
}
.nav-link{
    background: -webkit-linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
      &:hover{
        -webkit-text-fill-color: rgb(59, 41, 163)
    }
}
//searchPage
.search-margin{
    margin-top: 2rem;
}
.search-box{
    background-color: white;
    box-shadow: 5px 5px 5px grey;
}
.user-games-navpills{
    font-size: 12px;
}
#user-games-card{
    width: 100%;
    height: 9rem !important;
}
//profilePage
.container-profile {
    margin-top: 1rem;
    width: 80rem;
    max-width: 80rem;
    background: linear-gradient(90deg, rgba(238,255,240,1) 0%, rgba(233,236,255,1) 100%);

    box-shadow: 0 0 20px rgba(0,0,0,0.8);
}
#profile-tags{
    width: 60rem;
    height: 100%;
}
#profile-tagsBackground{
    background: #eaeffc;
    color: rgb(58, 66, 141);
}
.card-profile {
    border: 1px solid white;
    background-image: linear-gradient(62deg, #e2f0ff 0%, #ffe5ce 100%);
    width: 900px;
    max-width: 900px;
}
.profile-img{
    height: 600px;
    max-height: 600px;
}
.profileCard {
    width: auto;
    height: auto;
    max-width: 50rem;
    max-height: 100%;
}
.profileCardBackground{
    background-image: linear-gradient( 109.6deg,  rgba(48,207,208,1) 11.2%, rgba(51,8,103,1) 92.5% ) !important;
    color: white !important;
    font-family: 'Roboto Condensed', sans-serif !important;
}
.profileCardHeader{
    font-size: 1.3rem;
}
.profileHighlights{
    font-size: 1.3rem;
    margin-bottom: 1rem;
    background: -webkit-linear-gradient(
45deg
, #09009f, #00ff95 80%);
background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.user-name {
    font-size: 50px;
}
//table
table {
  background-image: linear-gradient( 110.5deg,  rgba(71,114,148,1) 14.9%, rgba(149,245,211,1) 77.9% ) !important;
  background-origin: border-box !important;  /* set background to start from border-box */
  border-spacing: 5px !important;  /* space between each cell */
  border: 1rem solid transparent !important;  /* optional */
}
td {
  background: white !important; /* if not set cell would also be transparent and show the gradient */
}
th {
    background: rgba(255, 255, 255, 0.493) !important; /* if not set cell would also be transparent and show the gradient */
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
}
//shadow
.shadow{
    box-shadow: 5px 5px 5px grey !important;
}
//text-color
.blue{
    color: rgb(58, 66, 141)
}
//input box
.input-space{
    margin-top: 1rem;
}
.input-shadow{
        border-bottom: 2px solid gray;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.centerText{
    text-align: center;
}
.mouse{
    cursor: pointer;
}
.disliked{
    font-weight: 600;
    font-family: 'Bebas Neue', cursive;
      background: linear-gradient(147deg, #fa8a56 0%, #FF2525 85%);
      background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.liked{
    font-weight: 600;
    font-family: 'Bebas Neue', cursive;
      background: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
      background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mixed{
    font-weight: 600;
    font-family: 'Bebas Neue', cursive;
      background: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
      background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.normal{
    font-weight: 600;
    font-family: 'Bebas Neue', cursive;
      background: linear-gradient(62deg, #b4afac 0%, #bebebe 100%);
      background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#middleLine{
    background :linear-gradient(#c3f8ff, #6882ff) no-repeat center/2px 100%;
}
#userForm{
    border: 10px solid;
    border-image-slice: 1;
    border-width: 1rem;
    border-image-source: radial-gradient(circle, #2dff93 0%, #867fec 100%);
    box-shadow: 5px 5px 5px grey !important;
    background-color: #fbfbfb;
    padding: 3rem;
    font-size: 18px;
}
.formTitle{
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem
}
.white{
    background-color: rgb(255, 255, 255);
}
.marginLogin{
    margin-top: 5rem;
}
.marginLoginwError{
    margin-top: 2rem;
}
.marginError{
    margin-top: 3rem;
    width: 100%;
}
.cardFilters {
    position: absolute;
    font-size: 2rem;
}
.bigCard {
    top: 61%;
}
.mediumCard{
    top: 77%;
}
.smallCard{
    top: 71%;
}
.navbar{
    width: 100%
}
.screen-big{
    display: none;
}
.w-100{
    width: 100% !important;
    height: 29rem;
}
.col-3{
    max-width: 100%
}
.screen-medium{
    display:none;
}
.small-preference-disliked{
    float: right;
}
.small-preference-liked{
    float: right;
}
.small-margin-left{
    margin-right: 1rem;
}
.search-x{
    font-size: 1rem;
    position: absolute;
    top: 25%;
    right: 9%;
}
.screen-xl{
    display: none;
}

@media only screen and (min-width: 768px){
    .search-x{
        right: 4%;
    }
    .nav-search{
        width: 40%;
        display: flex;
    }
    .screen-medium{
        display:block;
    }
    .screen-medium-flex{
        display:flex !important;
    }
    .screen-medium-off{
        display: none;
    }
    .screen-medium-xl{
        display: block;
    }
    .search-bar{
        display: block;
        width: 90%;
    }
    .search-button{
        width: 10% !important;
    }
    .nav-buttons{
        width: 41% !important;
        float: right;
        font-family: 'Oswald', sans-serif;
    }
    .nav-buttons button{
        float: right;
        width: 27%;
        margin: 0 1rem
    }
    .w-100{
        height: 50rem;
    }
    .carousel{
        height: 50rem;
        width: 100%;        
    }
    .scroller{
        display: flex;
        overflow: visible;
    }
    .card{
        width: 100%;
        height: 20rem;
        flex: 0 0 auto;
        margin-top: 1rem;
    }
    .details-description {
        line-height: 1.9rem;
        font-size: 1.1rem;
    }
    .details-title{
        margin: 1.5rem 0px;
    }
    #detailsCard{
        width: 13rem;
        height: 13rem;
    }
    .detailsNumbers{
        font-size: 3rem;
        border-radius: 50%;
    }
    .bigCard{
        top: 85%;
    }
    .website {
        font-size: 5rem;
    }
    .col-md-1 {
        max-width: 15%;
    }
    .user-games-navpills{
        font-size: 1.5rem;
    }
    #user-games-card{
        height: 19rem !important;
    }
    .small-preference-liked{
        float: left;
    }
    .small-margin-left{
        margin-right: 0;
    }
}
@media only screen and (min-width: 1270px){
    h1{
        font-size: 2.5rem
    }
    h3{
        font-size: 1.75rem;
    }
    h4{
        font-size: 1.5rem;
    }
    h5{
        font-size: 1.25rem;
    }
    .btn-fontsize{
        font-size: 1.2rem;
    }
    .btn-success{
        font-size: 1.2rem;
    }
    .screen-big{
        display: block;
    }
    .smallScreen{
        display:none;
    }
}
@media only screen and (min-width: 1627px){
    .screen-medium-xl{
        display: none;
    }
    .screen-xl{
        display: block;
    }
}